<strong>Recuperação de senha</strong>

<p>
    Uma solicitação de recuperação de senhao foi enviado para o email ({{ email }}).
    Se você não foi o autor dessa requisição, ignore esse email.
</p>

<p>
    Para continuar com a recuperação de senhao utilize o token ({{ token }})
    Ou clique no link: <a href="{{ link }}" >Criar nova senha</a>
</p>